@using Library.Mvc.Providers
@model Library.Mvc.Models.UserModel

@{
    ViewBag.Title = "Add Book Record";
}





<div class="box-header">
    @*<h3 class="box-title">Add Book</h3>*@
</div>
<div class="box-body">
    @using (Html.BeginForm("AddBook", "Home", FormMethod.Post, htmlAttributes: new { role = "form" }))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.BookModel.Name)
            @Html.EditorFor(x => x.BookModel.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.BookModel.Author)
            @Html.DropDownListFor(x => x.BookModel.Author, ItemProvider.Authors(), htmlAttributes: new { @class = "form-control" })
        </div>
        <div>
            @Html.ActionLink("Create Writer","CreateWriter","Home")
            @*<input type="button" value="Create Author" class="btn btn-primary" onclick="@Url.Action("CreateWriter", "Home")"/>*@
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.BookModel.Publisher)
            @Html.DropDownListFor(x => x.BookModel.Publisher, ItemProvider.Publishers(), htmlAttributes: new {@class = "form-control"})
        </div>
        <div>
            @Html.ActionLink("Create Publisher", "CreatePublisher", "Home")
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.BookModel.Serie)
            @Html.DropDownListFor(x => x.BookModel.Serie, ItemProvider.Series(), htmlAttributes: new {@class = "form-control"})
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.BookModel.PublishDate)
            @Html.EditorFor(x => x.BookModel.PublishDate, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.BookModel.Genre)
            @Html.DropDownListFor(x => x.BookModel.Genre, ItemProvider.Genres(), htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.BookModel.No)
            @Html.EditorFor(x => x.BookModel.No, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.BookModel.SkinType)
            @Html.DropDownListFor(x => x.BookModel.SkinType, ItemProvider.SkinTypes(), htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.BookModel.Shelf)
            @Html.DropDownListFor(x => x.BookModel.Shelf, ItemProvider.Shelfs(), htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.BookModel.Rack)
            @Html.DropDownListFor(x => x.BookModel.Rack, ItemProvider.Racks(), htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary btn-flat" />
        </div>

    }
</div>

