@using Library.Mvc.Providers
@model Library.Mvc.Models.UserModel

@{
    ViewBag.Title = "Edit Record";
}

<div class="box-header">
    @*<h3 class="box-title">Add Book</h3>*@
</div>
<div class="box-body">
    @using (Html.BeginForm("EditBookRecord", "Home", FormMethod.Post, htmlAttributes: new { role = "form" }))
    {
        @Html.HiddenFor(x=>x.BookDto.Id);

        <div class="form-group">
            @Html.LabelFor(x => x.BookDto.Name)
            @Html.EditorFor(x => x.BookDto.Name, Model.BookDto.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.BookDto.Author)
            @Html.DropDownListFor(x => x.BookDto.Author, ItemProvider.Authors(), Model.BookDto.Author, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.BookDto.Publisher)
            @Html.DropDownListFor(x => x.BookDto.Publisher, ItemProvider.Publishers(), Model.BookDto.Publisher,htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.BookDto.Serie)
            @Html.DropDownListFor(x => x.BookDto.Serie, ItemProvider.Series(), Model.BookDto.Serie, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.BookDto.PublishDate)
            @Html.EditorFor(x => x.BookDto.PublishDate, Model.BookDto.PublishDate.ToString(), new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.BookDto.Genre)
            @Html.DropDownListFor(x => x.BookDto.Genre, ItemProvider.Genres(), Model.BookDto.Genre, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.BookDto.No)
            @Html.EditorFor(x => x.BookDto.No, Model.BookDto.No, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.BookDto.SkinType)
            @Html.DropDownListFor(x => x.BookDto.SkinType, ItemProvider.SkinTypes(), Model.BookDto.SkinType,htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.BookDto.Shelf)
            @Html.DropDownListFor(x => x.BookDto.Shelf, ItemProvider.Shelfs(), Model.BookDto.Shelf,htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.BookDto.Rack)
            @Html.DropDownListFor(x => x.BookDto.Rack, ItemProvider.Racks(), Model.BookDto.Rack.ToString(),htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>

    }
</div>


